@media #{$large-up} {
	article {
		&.welcome {
			section {
				@include grid-column(8);
			}
			section.estimates{
				@include grid-column(4);
				border-left: 8px solid $off-white;
			}
		}
		&.about {
			section {
				@include grid-column(7, $push: 1);
				h2 {
				}
			}
		}
		&.services {
			section {
				@include grid-row;
			    @include grid-column(10, $center: true);
				padding-top: 6em;
				padding-bottom: 6em;
				div {
					@include grid-row;
				p {
					@include grid-column(9);
				}
				img {
					@include grid-column(3, $float: right);
				}
				}
			}
		}
		&.contact {
			section {
				padding-top: 10em;
				padding-bottom: 10em;
			}
		}
	}
}