$red         :#D74B4E;
$gray        :#515151;
$blue        :#79BACC;

$facebook    :#4B67A1;
$twitter     :#55ACEE;
$google      :#D94A35;
body {
  background: $blue;
}
main {
  @include grid-row;
}
header {
  background: $red;
  nav {
    margin-top: 0;
  }
}

// .shadow{
// -webkit-box-shadow: 0px 4px 5px $gray;
//    -moz-box-shadow: 0px 4px 5px $gray;
//         box-shadow: 0px 4px 5px $gray;
// }
.logo {
  background: url(../assets/img/hero.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
}
footer {
  @include grid-row;
  ul {
    list-style: none;
    li {
      display: inline;
    }
  }
}
footer a {
}
textarea {
  border: 0;
}
input[type="text"] {
  border: 0;
}
input[type="email"] {
  border: 0;
}
