$red                           : #D74B4E;
$dark-red                      : #C62929;
$dark-red-button               : rgba(198, 41, 41, .8);

$black                         : #1F2123;
$gray                          : #515151;
$off-white                     : darken($white, 10%);

$blue                          : #79BACC;
$blue-header                   : rgba(119, 186, 205, .5);
