header {
  @include grid-row;
  background: url(../assets/img/hero.svg) no-repeat center center;
  background-size: cover;
  min-height: 500px;
  nav {
    background: $dark-red;
    ul {
      list-style: none;
      li {
        display: inline;
        font-size: 24px;
        font-weight: 200;
      }
    }
    a {
      color: darken($dark-red, 25%);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      &:hover {
        background: $white;
      }
    }
  }
  img {
    display: block;
    width: 750px;
    padding: 0em 0 4em 0;
    margin: 0 auto;
  }
}
