header {
  @include grid-row;
  background: url(../assets/img/hero.svg) no-repeat center center;
  background-size: cover;
  min-height: 500px;
  .menu {
    position: fixed;
    width: 100%;
    top: 0;
    // height: 100%;
    z-index: 999999;
    div {
      display: none;    
      &:after {
        content: '';
        display: block;
        border-bottom: 100vh solid  rgba(119, 186, 205, .8);
      }
      :first-child{
        padding-top: 2em;
      }
      a {
        display: block;
        background:  rgba(119, 186, 205, .8);
        color: $black;
        padding: 20px 10px 5px 15px;
        font-size: 46px;
        text-align: left;
        text-decoration: none;
        letter-spacing: 5px;
        text-transform: uppercase;
        &:hover {
          &:before {
            content: "| ";
            color: $red;
          }
        }
      } 
    }

    button {
      position: absolute;
      top: 15px;
      left: 15px;
      border: 0;
      text-indent: 200%;
      overflow: hidden;
      background: transparent url(http://i.imgur.com/vKRaKDX.png) center no-repeat;
      background-size: 80%;
      width: 50px;
      height: 50px;
      border: 1px solid $black;
      border-radius: 100%;
      outline: none;
      transition: all 400ms ease;
      &.expanded {
        transform: rotate(90deg);
        background-color: transparent;
        border: 0;
      }
    }
  }
  img {
    display: block;
    width: 750px;
    padding: 5em 0 4em 0;
    margin: 0 auto;
  }
}
