// type
$lt-font: 200;
$med-font: 600;

$row-width: 100%;
body {
  font-family: "PT Sans Caption";
}
h1 {
  font-size: 36px;
  font-weight: $med-font;
  line-height: 1em;
  letter-spacing: 3px;
  text-transform: uppercase;
}
h2 {
  font-size: 28px;
  font-weight: $lt-font;
  letter-spacing: 1px;
  text-transform: uppercase;
}
p {
  font-size: 18px;
}
a {
  text-decoration: none;
}

// .arrow {
//  @include arrow(20px solid $black, 50vmax solid transparent, 50vmax solid transparent);
//  display: block;
//  margin-top: -1.1em;
// }
