// type
$lt-font: 200;
$med-font: 400;

h1 {
  font-size: 46px;
  font-weight: $lt-font;
  line-height: 20px;
}
h2 {
  font-weight: $med-font;
  letter-spacing: 1px;
}
$row-width: 100%;
main {
  @include grid-row;
  background: $white;
  position: relative;
}
section {
  @include grid-row;
  margin: 2em 0;
  &.one {
    @include grid-column(10, $center: true);
  }
  &.two {
    @include grid-column(10, $center: true);
  }
}
// .shadow{
// -webkit-box-shadow: 0px 4px 5px $gray;
//    -moz-box-shadow: 0px 4px 5px $gray;
//         box-shadow: 0px 4px 5px $gray;
// }
