article.about {
  @include grid-row;
  background: url(../assets/img/about-us.jpg)no-repeat center center;
  background-size: cover;
  overflow-x: hidden;

  h2 {
    background: $blue-header;
    padding-left: 10px;
    color: darken($gray, 20%);
    max-width: 300px;
    font-size: 48px;
    font-weight: $med-font;
  }

  p {
    font-size: 18px;
  }

  &:after {
    display: block;
    height: 0;
    width: 0;
    border-bottom: 100px solid $white;
    border-left: 100vmax solid transparent;
  }

}
