<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home • Maloney Painting • Lakewood, Colorado</title>
    <link rel="stylesheet" href="css/app.css" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
</head>
<body>

@@include('../../assets/includes/header.html')

<main>
  <article class="welcome">
  @@include('../../assets/includes/home/home.html')
  </article>
</main>

<article class="about" id="about">
  @@include('../../assets/includes/about/about.html')
</article>

<article class="services" id="services">
  @@include('../../assets/includes/services/services.html')
</article>

<article class="contact" id="contact">
  @@include('../../assets/includes/contact/contact.html')
</article>


<div class="share42init" data-top1="150" data-top2="20" data-margin="0"></div>

@@include('../../assets/includes/footer.html')

@@include('../../assets/includes/analytics.html')

<script src="../js/app.js"></script>
<script src="../js/jquery.min.js"></script>
<script>
 $('a[href^="#"][data-animate]').live('click', function() {
   var hash = $(this).attr('href');
   var offset = $(hash).offset();
   if (offset) {
     $('html, body').animate({ scrollTop: offset.top }, 'slow');
     location.hash = hash;
     return false;
   }
  });
  var menuButton = $('#menuButton');
  menuButton.on('click', function() {
    menuButton.toggleClass('is-active');
    $('.nav-links li a').toggle('hidden');
  });
//  var menuButton = document.getElementById('menuButton');
//  menuButton.addEventListener('click', function (e) {
//      menuButton.classList.toggle('is-active');
//      e.preventDefault();
//  });
</script>
</body>
</html>
 
