<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Home > Maloney Painting</title>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
@@include('../../assets/includes/home/header.html')


<main>
 <section class="one">
  <h1>Welcome to Maloney Painting</h1>
   <h2 class="subheader">When you need professional painters in the front range Maloney Painting is the only choice.</h2>
   <p>Professional interior and exterior painters that refuse to cut corners or make any sacrifices on quality. With the pride of a 30+ year family business comes a lot of responsibility. Responsibility that fuels Maloney Painting's desire to not only be the best, but to provide top-tier quality and value.</p>
   <p>From free estimates to overall consultation Maloney Painting strives to make the consumer experience as effortless and enjoyable as can be.</p>
   </section>
 <section class="two">
  <h2>Free Estimates! | Call Us: (720) 663-0436</h2>
  <h2></h2>
 </section>
</main>


<div class="share42init" data-top1="150" data-top2="20" data-margin="0"></div>

@@include('../../assets/includes/footer.html')
@@include('../../assets/includes/analytics.html')
<script src="../js/app.js"></script>
</body>
</html>
