<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="HandheldFriendly" content="True">
    <meta name="robots" content="index, follow">
    <meta name="indexation" content="All" />
    <meta name="Keywords" content="Residential exterior, Residential exterior, Commercial, home, project">
    <meta name="description" content="Your home is your sanctuary and we respect that. Every part of every project will be handled with integrity and care.">
    <meta name="category" content="Painting, Exterior painting, Residential interor painting, Commercial painting">
    <title>Services > Maloney Painting</title>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
@@include('../../assets/includes/header.html')
<main>
 <section class="one">
  <h1>Services We Provide</h1>
  <h3>Residential Exterior:</h3>
  <p>Our goal for exterior projects is longevity. We have trained and experienced painters whom pay close attention to detail, ensure thorough application of paint, use caulk sealant accurately, and accurately prepare all surfaces painted and unpainted. We will provide you any and all information needed to make informed decisions regarding your colors and materials.</p>
  <h3>Residential Interior:</h3>
  <p>Your home is your sanctuary and we respect that. Every part of every project will be handled with integrity and care. We communicate our process prior to beginning a project, and once it starts, our crew is courteous and meticulous regarding cleanliness, crisp lines, and detail.</p>
  <h3>Commercial:</h3>
  <p>If you are a commercial representative, please contact us to speak further. We are happy to work in the commercial realm and look forward to providing you another option in quality paint contacting.</p>
 </section>
</main>

<div class="share42init" data-top1="150" data-top2="20" data-margin="0"></div>

@@include('../../assets/includes/footer.html')
@@include('../../assets/includes/analytics.html')
<script src="../js/app.js"></script>
</body>
</html>
